body {
  margin: 0;
  background-color: #ff6600;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    padding-left: 100px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #e6e6ff;
    color: #888;
}
/*
.focus {

}*/

.mainDiv {
  /*position: absolute;*/
  height: 100%;
  background-color: #888;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;
  padding-bottom: 70px;
}

.gameDiv {
  position: relative;
  background-color: #e6e6ff;
  border-size: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 20px;
}

.stream {
  cursor: pointer;
}
